:root {
    scroll-behavior: smooth;
}

body {  
  background-color: #389;
  font-family: "Montserrat"; 
}

.menu {  
  display: flex;
  justify-content: space-around;
  color: #225;
}

.menu>div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 1%;  
  background-color: DarkGoldenRod;  
  cursor: pointer;
}

section>figure {
  margin: 10% auto;
  text-align: center;
}

a {
    text-decoration: none;
    color: #225;
}




