li:has(img.circle) ~ li {
    background-color: #f00;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

ul {
    margin-top: 20px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

li {
    text-align: center;
    flex: 1;
}