* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    background-color: #000;
    font-family: 'Montserrat';
}

li {
    background-color: #fdb;
    width: 25%;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

li:hover {
    background-color: #fec;
}

a {
    text-decoration: none;
}

section {
    display: flex;
    padding: 10%;
    gap: 20%;
    font-size: 24px;
    font-family: 'Montserrat';
    text-align: justify;
}