div {
  word-spacing: 40px;
  font-family: 'Arvo';
  font-size: 3em;
  background-color: hsl(120, 10%, 50%);
}

.first {
  word-wrap: break-word;
  direction: ltr;
  text-transform: uppercase;
}

.second {
  text-align: right;
}

.third {  
  display: inline-block;
  width: 225px;
  text-align: left;
}

.fourth {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: right;
  width: 225px;
}

.fifth {
  text-align: center;
}

.sixth {
  display: inline-block;
  width: 1.2em;
  word-break: break-all;
}

.seventh {
  float: right;
  width: 1.2em;
  word-break: break-all;
}