body {
    background-color: #1249;
    font-size: 1.5em;
    font-family: "Ruslan Display", sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
}

nav a:hover {
    background-color: #ccc;
}