* {
    margin: 0;
    padding: 0;
}

div {
    width: 100vw;
    height: 100vh;
    background-color: #3aa;
    background-image: url(https://donperegnon.ru/webtactics/3-8/bubbles_template.png);
    background-size: 20%;
}