* {
    margin:0;
    padding:0;
}

div {  
    width: 100vw;
    height: 200vh;
    background-color: #6888;
    background-image: url(https://donperegnon.ru/webtactics/3-8/puzuri_bl9_okowka.png);background-size:15%; 
}

div::before { 
    content:'';
    position: relative;
    z-index: -1;  
    display: block;
    margin: auto;
    width: 100vh;
    height: 100vh;
    background-color: #446;
    box-sizing: border-box;
    border: 2vh solid #000;
    background-image: url(https://donperegnon.ru/webtactics/3-8/pepe.png);
    background-size: contain;
    background-position: center;background-origin: border-box;
    background-attachment: fixed;
}






